{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["styled-components", { "ssr": true }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@common": "./src/common",
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@definitions": "./src/definitions",
              "@redux": "./src/redux",
              "@styles": "./src/styles",
              "@test": "./src/test"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["styled-components", { "ssr": true }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@common": "./src/common",
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@definitions": "./src/definitions",
              "@redux": "./src/redux",
              "@styles": "./src/styles"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ],
      "plugins": [
        ["styled-components", { "ssr": true }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@common": "./src/common",
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@definitions": "./src/definitions",
              "@redux": "./src/redux",
              "@styles": "./src/styles",
              "@test": "./src/test"
            }
          }
        ]
      ]
    }
  }
}
