REACT_APP_FIREBASE_API_KEY='insert api key'
REACT_APP_FIREBASE_AUTH_DOMAIN='insert auth domain'
REACT_APP_FIREBASE_PROJECT_ID='insert project id'
REACT_APP_FIREBASE_STORAGE_BUCKET='insert storage bucket'
REACT_APP_FIREBASE_MESSAGING_SENDER_ID='insert messaging sender id'
REACT_APP_FIREBASE_APP_ID='insert app id'
