{
  "env": {
    "node": true,
    "browser": true,
    "amd": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "jsx-a11y",
    "import",
    "jest",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandLast": true,
        "ignoreCase": true
      }
    ],

    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["parent", "index", "sibling", "object"]],
        "pathGroupsExcludedImportTypes": ["builtin"],

        "pathGroups": [
          {
            "pattern": "react**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@(api|app|layout|lib|models|m|pages|routes|shared|theme)/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
